<p *ngIf="condicao; else elseBlock">Andre</p>
<ng-template #elseBlock>
  <p>Luiz</p>
</ng-template>

<hr>

<p *ngIf="condicaoClick">true</p>
<p *ngIf="!condicaoClick">False</p>

<button (click)="onClick()">Clicar</button>

<hr>

<ul>
  <li *ngFor="let item of list; let i = index; let cout = count;" (click)="onClickEventList(i)">
    > [{{i}}] - {{item.nome}} - {{item.idade}} anos tem {{cout}}</li>
</ul>

<button (click)="onClickAddList()">Add</button>

<hr>

<input type="text" [(ngModel)]="nome">
<div [ngSwitch]="nome">
  <p *ngSwitchCase="'andre'">Andre</p>
  <p *ngSwitchCase="'maria'">maria</p>
  <p *ngSwitchDefault>Sivaldo</p>
</div>
